:root {
    /*PALETA DE COLORES PRINCIPALES*/
    --COLOR-PRINCIPAL1: #073956;
    --COLOR-PRINCIPAL2: #0F62AC;
    --COLOR-PRINCIPAL3: #030710;
    --COLOR-PRINCIPAL4: #83C3E2;
    --COLOR-TEXTO-BLANCO: #fefefe;
    /*COLORES MAIN MENU*/
    --BACKGROUND-MENU: #050E16;
    /*COLORES SECCION SERVICIOS*/
    --SERVICIOS-BACKGROUND: #0B131E;
    --SERVICIOS-TEXTO1: #9CA3AF;
    --SERVICIOS-CARD-BACKGROUND: #0C121D;
    --SERVICIOS-CARD-BORDER: #1B2431;
    --SERVICIOS-WIDECARD-BACKGROUND: #111827;
    --SERVICIOS-WIDECARD-BORDER: #1f2937;



}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}