:root {
    /*PALETA DE COLORES PRINCIPALES*/
    --COLOR-PRINCIPAL1: #073956;
    --COLOR-PRINCIPAL2: #83C3E2;
    --COLOR-PRINCIPAL3: #050E16;
    --COLOR-PRINCIPAL4: #fefefe;

}

.main-menu {
    background-color: #073956;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}